<?xml version="1.0" ?>
<config>
    <modules>
        <Gugliotti_Installments>
            <version>0.1.0</version>
        </Gugliotti_Installments>
    </modules>
    <global>
        <blocks>
            <gugliotti_installments>
                <class>Gugliotti_Installments_Block</class>
            </gugliotti_installments>
        </blocks>
        <helpers>
            <gugliotti_installments>
                <class>Gugliotti_Installments_Helper</class>
            </gugliotti_installments>
        </helpers>
        <models>
            <gugliotti_installments>
                <class>Gugliotti_Installments_Model</class>
                <resourceModel>gugliotti_installments_resource</resourceModel>
            </gugliotti_installments>
            <gugliotti_installments_resource>
                <class>Gugliotti_Installments_Model_Resource</class>
                <entities>
                    <method>
                        <table>gugliotti_installments_method</table>
                    </method>
                </entities>
            </gugliotti_installments_resource>
        </models>
        <resources>
            <gugliotti_installments_setup>
                <setup>
                    <module>Gugliotti_Installments</module>
                </setup>
            </gugliotti_installments_setup>
        </resources>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gugliotti_installments after="Mage_Adminhtml">Gugliotti_Installments_Adminhtml</gugliotti_installments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gugliotti_installments>
                    <file>gugliotti_installments.xml</file>
                </gugliotti_installments>
            </updates>
        </layout>
        <translate>
            <modules>
                <gugliotti_installments>
                    <files>
                        <default>Gugliotti_Installments.csv</default>
                    </files>
                </gugliotti_installments>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <gugliotti_installments>
                    <file>gugliotti_installments.xml</file>
                </gugliotti_installments>
            </updates>
        </layout>
        <translate>
            <modules>
                <gugliotti_installments>
                    <files>
                        <default>Gugliotti_Installments.csv</default>
                    </files>
                </gugliotti_installments>
            </modules>
        </translate>
    </frontend>
</config>